.calendar-container {
    /*height: 100%;*/
}

.big-calendar {
    height: 700px;
    margin: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    background-color: #cdcdcd;
    font-size: 20px;
}