.calendar-container {
    /*height: 100%;*/
}

.big-calendar {
    height: 660px;
    margin: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    background-color: #8D658B;
    font-size: 20px;
}

.calendar-footer-links {
    display: flex;
    justify-content: space-around;
}